<html>
  <head>
    <title>Anleitung zum Quantsimulant</title>
    <meta content="">
    	<style>
	body, html {
		text-align: center
	}
	</style>
  </head>
	<body>
		<h1>Information zum Quantsimulant</h1>
		<p>Dieses Programm simuliert die zeitliche &Aumlnderung einer Teilchenwelle mit Hilfe der Schr&oumldingergleichung.</p>
		<h2>Steuerung:</h2>
		<h3>Die Simulation starten</h3>
		<p>
			Enter: Parameterfenster ein- / ausblenden<br>
			Leertaste: Simulation starten / stoppen
		</p>
		<h3>Navigation der Zeit</h3>
		<p>
			j: In der Zeit zur&uumlck<br>
			l: In der Zeit nach vorne<br>
			i: Zum n&aumlchsten Potential-Keyframe springen<br>
			k: Zum vorherigen Potential-Keyframe springen<br>
		</p>
		<h3>Darstellung der Wellenfunktion</h3>
		<p>
			a: Die komplexe 3D Ansicht verkippen.<br>
			d: Die komplexe 3D Ansicht in die andere Richtung verkippen.<br>
			w: In der komplexen Zahlenebene rotieren<br>
			s: Andersherum in der komplexen Zahlenebene rotieren<br>
			
		</p>
		<h2>Links</h2>
		
		<p><a href = https://quantsimulant.de/versionen.html>Versionen</a></p>
		<p><a href = https://quantsimulant.de/aehnliche_projekte.html>&Aumlhnliche Projekte</a></p>
	</body>
</html>
